{% extends "base.html" %}
{% block content %}
  <h1>
    Username: {{ author.username }}
    {% if author.pk == user.id %}
      <a href="" class="btn btn-danger link-to-page">
        Delete
      </a>

      <a href="" class="btn btn-secondary link-to-page">
        Change
      </a>
    {% endif %}

  </h1>

  <h3>
    
    {% if author.first_name %}
      First name: {{ author.first_name }}
    <br>
    {% endif %}
  
    {% if author.last_name %}
      Last name: {{ author.last_name }}
    <br>
    {% endif %}
    
    {% if author.email %}
      Email: {{ author.email }}
    <br>
    {% endif %}
      {% if author.pseudonym %}
      Pseudonym: {{ author.pseudonym }}
    <br>
      {% endif %}
      {% if author.games %}
        Games added to review: 
        {% for game in author.games.prefetch_related %}
          {{ game.name }}
        {% endfor %}
      <br>
      {% endif %}
  {% if author.review_set.select_related %}
    Reviews:
    {% for review in author.review_set.select_related %}
    
       {{ review.title }}, 
    {% endfor %}
  {% endif %}
      </h3>




{% endblock %}