{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block search %}
  <form action="" method="get" class="form-inline" novalidate>
  {{ game_search_form|crispy }}
  <input type="submit" value="find" class="btn btn-secondary">
  </form>
{% endblock %}

{% block content %}
  {% if game_list %}
    <div class="row mb-2">
    {% for game in game_list %}
      <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-secondary">{{ game.genre.name }}</strong>
          <h5 class="mb-0">{{ game.name }}</h5>
          <div class="mb-1 text-muted">{{ game.release_date }}</div>
          
          <a href="{% url "games_and_reviews:games-detail" pk=game.id %}" class="stretched-link" style="text-decoration: none; color: dimgrey">Details >></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="{{ game.image.url }}" width="200" height="250" alt="">
        </div>
      </div>
      </div>
    {% endfor %}
  </div>    
  {% endif %}
{% endblock %}