{% extends "base.html" %}
{% block content %}

  <h2 class="pb-4 mb-4 font-italic border-bottom">
    Reviews list
  </h2>
  {% for review in review_list %}
    <div class="blog-post">
      <h4 class="blog-post-title">{{ review.title }}</h4>
      <p class="blog-post-meta">{{ review.date_of_post }} <a href="#" style="text-decoration: none; color: dimgrey">{{ review.author.username }}</a>
        <br>
      reviewed game: <a href="{% url "games_and_reviews:games-detail" pk=review.game_to_review.id %}" style="text-decoration: none; color: dimgrey">{{ review.game_to_review.name }}</a>
        <br>
      {{ review.short_content }}<a class="changelink" href="{% url "games_and_reviews:review-detail" pk=review.id %}" style="text-decoration: none; color: dimgrey">Read more >></a>
      </p>
      <hr>
    </div>
  {% endfor %}

{% endblock %}