<aside class="col-md-4 blog-sidebar">
  <h3>Last reviews</h3>
{% for review in last_reviews %}
  <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">{{ review.title }}
          <h6>Wrote by <a style="text-decoration: none; color: dimgrey" href="{% url "games_and_reviews:author-detail" pk=review.author.id %}"> #{{ review.author.username }}</a></h6>
        </h4>
        <p class="mb-0">{{ review.short_content }}
        <br>
          <a style="text-decoration: none; color: dimgrey" href="{% url "games_and_reviews:review-detail" pk=review.id %}"> Read more >></a> 
        </p>
      </div>
{% endfor %}
    </aside>
